<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to kodtodya's page!
  </h1>
  <img width="300" alt="Kodtodya Official Image" src="../assets/kodtodya.png">
</div>
<h2>Follow me here: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://twitter.com/kodtodya">Twitter</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/kodtodya">Github</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://linkedin.com/in/kodtodya/">LinkedIn</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
